@keyframes animationBtnConfirm {
    0%{
        position: relative;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    25%{
        position: relative;
        top: 30.2%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    50%{
        position: relative;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    100%{
        position: relative;
        top: 30.2%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes animationImage {
    0%{
        transform: rotateY(0deg);
    }
    
    25%{
        transform: rotateY(6deg);
    }

    50%{
        transform: rotateY(12deg);
    }

    75%{
        transform: rotateY(6deg);
    }
    
    100%{
        transform: rotateY(0deg);
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.oculto_btn_help{
    opacity: 0;
}

.baixar_pontuation{
    top: 90px;
}

html, body{
    height: 100vh;
    font-family: "Lora", serif; 
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.container{
    background-position: center;
    background-size: cover;
    height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

header > button[type=button]{
    border-radius: 30px;
    padding: 10px 30px;
    border: 3px solid #d69d73;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 0.8px;
    width: 210px;
    transition: 0.2s ease-in;
    border: 2px solid #d69d73;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, color 0.3s ease;
}

header > button[type=button]:active{
    position: relative;
    top: 1px;
}

div.help img{
    right: 100px;
    bottom: 50px;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 30px 30px rgba(207, 201, 211, 0.252);
    border-radius: 50%;
    cursor: pointer;
    z-index: 2000;
}

div.pontuation{
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid #d69d73;
    border-radius: 30px;
    background-color: transparent;
    color: #444;
    width: 200px;
    height: 27px;
}

div.pontuation-wrapper{
    background-color: #333;
    color: #f5f5f5;
    border-radius: 30px;
    width: 100px;
    height: 21px;
}

/**main */
div.questions{
    background-color: rgba(0,0,0,0.6);
    width: 1000px;
    max-width: 95%;
    height: 220px;
    margin: 50px auto 0 auto;
    border-radius: 7px;
    border: 2px solid #d69d73;
    position: relative;
}

div.questions h3{
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.7px;
    color: #f5f5f5;
    text-align: center;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

div.responses{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px, 1fr));
    max-width: 1000px;
    margin: 70px auto 0 auto;
}

div.response-single{
    width: 300px;
    height: 80px;
    margin: 0px auto 20px auto;
    position: relative;
    left: 44%;
    transform: translateX(-50%);
    border-radius: 7px;
    background: linear-gradient(to bottom, #dad5d598, #747171a8);
    border: 2px solid #d69d73;
}

div.response-single:nth-child(1),div.response-single:nth-child(3){
    margin-left: 190px;
}

div.response-single:nth-child(2),div.response-single:nth-child(4){
    margin-left: 30px;
}

div.response-single button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: #f5f5f5;
    font-size: 17px;
}

/**modal guia*/
.modal_guia{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.modal_guia .img-modal{
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 20px;
    left: 40px;
    animation-name: animationImage;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

.modal_guia .initial{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px;
}

.modal_guia h3{
    font-size: 27px;
    font-weight: 400;
    color: #f5f5f5;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.modal_guia #btn_fechar_modal{
    background-color: transparent;
    border: 0;
    font-size: 27px;
    font-weight: bold;
    color: #ff0000;
    cursor: pointer;
}

.modal_guia p{
    color: #f5f5f5;
    padding: 20px 40px;
    text-align: center;
}

.modal_guia #btn_confirmar_ajuda{
    width: 150px;
    cursor: pointer;
    outline: 0;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    border:  2px solid #d69d73;
    background-color: transparent;
    color: #fff;
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    transition: 0.2s ease-in;
}

.modal_guia #btn_confirmar_ajuda:hover{
    border: 0;
    background-color: #d69d73;
    color: #fff; 
}

.modal_guia #btn_confirmar_ajuda:active{
    top: 30.2%;
}

.overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6c2f5d;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -99;
}

.overlay-background-1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -99;
}


@media (width < 1280px){
    div.responses{
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin: 0;
        padding-top: 40px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    div.response-single{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    div.response-single:nth-child(1),div.response-single:nth-child(3){
        margin-left: 0px;
    }
    
    div.response-single:nth-child(2),div.response-single:nth-child(4){
        margin-left: 0px;
    }

    div.help img{
        right: 20%;
    }

    .modal_guia{
        height: 127vh;
    }

    .modal_guia #btn_confirmar_ajuda{
        top: 7%;
    }

    .modal_guia #btn_confirmar_ajuda:active{
        top: 7.2%;
    }

    .modal_guia .img-modal{
        position: relative;
        top: 80px;
        left: 0;
        margin: 0 auto;
    }
    
}

@media (width < 900px){
    div.help img{
        right: 12%;   
    }
}

@media (width < 650px){
    header{
        padding: 20px;
    }

    header > button[type=button]{
        padding: 8px 15px;
        border: 2px solid #d69d73;
        font-size: 15px;
        width: auto;
    }

    div.pontuation{
        top: 120px;
    }

    div.questions h3{
        padding: 15px;
        font-size: 17px;
    }

    div.responses{
        max-width: 250px;
    }

    div.response-single{
        width: 250px;
        height: 70px;
    }
    
    div.response-single button{
        font-size: 14px;
    }

    div.help img{
        right: 4%; 
        width: 70px;
        height: 70px;  
    }
}

@media (width < 560px) {
    .modal_guia{
        height: 127vh;
    }

    .modal_guia .img-modal{
        width: 300px;
        height: 300px;
    }

    .modal_guia h3{
        font-size: 24px;
    }
    
    .modal_guia #btn_fechar_modal{
        font-size: 24px;
    }
    
    .modal_guia p{
        padding: 10px !important;
        font-size: 17px !important;
    }
}