@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Lora", serif; 
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    flex-direction: column;
    opacity: 0;
    opacity: 0;
    transition: opacity 2s ease-in;
    background-color: black;
    
}


.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.path {
    position: relative;
    width: 100%;
    height: 100%;
}

.phase {
    position: absolute;
    text-align: center;
    color: #fff;
}

.phase img {
    width: 150px;
    height: 150px;
    filter: drop-shadow(0 0 15px #d69d73);
}

.phase p {
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid #d69d73;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.top-frame {
    position: relative;
    top:10px;
    left: 0;
    width: 1500px;
    height: 50px;
    background-image: url('../img/line-molde.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1000;
    filter: drop-shadow(0 0 10px #000000);
}

.caixa {
    
    top: 40px;
    width: 500px;
    height: auto;
    margin-top: 20px;
    filter: drop-shadow(0 0 15px #d69d73);
    z-index: 1000;
    
}


.bottom-frame {
    position: relative;
    bottom:10px;
    left: 0;
    width: 1500px;
    height: 50px;
    background-image: url('../img/line-molde.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1000;
    filter: drop-shadow(0 0 10px #000000);
}

.overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: 1;
}

.overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); 
    z-index: 2999; 
    pointer-events: none;
}
.brightness-effect {
    position: absolute;      
    width: 80px;         
    height: 80px;         
    top: 50%;             
    left: 50%;              
    transform: translate(-50%, -80%); 
    z-index: 1;              
    pointer-events: none;    
}
