@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: "Lora", serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center;
}

.title img {
    margin-top: -70px;
    width: 600px;
    height: auto;
    filter: drop-shadow(0 0 15px #d69d73);
}

.menu {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.menu-item {
    font-family: "Lora", serif;
    width: 300px;
    font-size: 1.5rem;
    padding: 15px 0;
    border: 2px solid #d69d73;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #d69d73;
    
}

